<div class="login-form" align="center" style="background-color:#f1f1f1">
    <div class="imgcontainer">
      <img src="login_user.png" alt="Avatar" class="avatar">
    </div>
    <p><span class="translate" data-translate-key="string_Username">Username</span>:
        <input type="text" id="fname" required></p>
    <p><span class="translate" data-translate-key="string_Password">Password</span>:
        <input type="text" id="psword" required></p>
    <button id="button-login" class="translate" data>Login</button>
</div>



